/*******************************************************************************

  Páginas con info, tabla y menu

*******************************************************************************/

main.info-tabla-menu {
    padding-bottom:10rem;
}

main.info-tabla-menu > ul {  /* Menú */
    margin-top: 0.5rem;
    padding:0.5rem;
    border-radius:0.4rem;
}

main.info-tabla-menu > ul > li {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding:0.2rem;
    border-radius:0.4rem;
}


main.info-tabla-menu > div:nth-of-type(1) {  /* Info */
    background: #202020;
    color:#ffffff;
    border-radius:0.4rem;
}

main.info-tabla-menu > div:nth-of-type(1) > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.2rem 0.5rem;
}

main.info-tabla-menu > div:nth-of-type(1) > div > p {
    margin:0;
    padding:0;
}

main.info-tabla-menu > div:nth-of-type(1) > div > p:nth-of-type(1) {
    font-style:italic;
}

main.info-tabla-menu > div:nth-of-type(1) > div > p:nth-of-type(2) {
    text-align: right;
    color: #ffffa0;
}

main.info-tabla-menu > div:nth-of-type(2) > h2 { /* Título de la tabla */
    text-align: center;
}

@media only screen and (max-width: 768px) {

    main.info-tabla-menu {
      width:90%;
      flex-direction:column;
      align-items:center;
    }

    main.info-tabla-menu > div:nth-of-type(1) {
        order: 1;
        width: 80%;
    }

    main.info-tabla-menu > ul {
        order: 2;
        width: 60%;
    }

    main.info-tabla-menu > div:nth-of-type(2) {
        order: 3;
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {

    main.info-tabla-menu {
      width:90%;
      flex-direction:row;
      align-items: flex-start;
    }

    main.info-tabla-menu > div:nth-of-type(1) {
        width: 10rem;
    }

    main.info-tabla-menu > div:nth-of-type(2) {
        flex-grow: 2;
    }

    main.info-tabla-menu > ul {
        width: 10rem;
    }

}

@media only screen and (max-width: 600px) {

    main.info-tabla-menu  div.table {
        width: 100%;
        font-size:1rem;
    }

    main.info-tabla-menu  div.table > div:first-child {
        display:none;
    }

    main.info-tabla-menu  div.table > div {
        margin:1rem;
        padding:1rem;
        border-radius: 4px;
    }

    main.info-tabla-menu  div.table > div > div  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0px;
        margin:0px;
    }

    main.info-tabla-menu  div.table > div > div > p {
        padding:4px;
        margin:4px;
    }

    main.info-tabla-menu  div.table > div > div > p:first-child {
        text-transform: uppercase;
        color:#f0f0f0;
        font-size:0.6rem;
    }

    main.info-tabla-menu  div.table > div > div > p:last-child {
        text-align: right;
    }

}

@media only screen and (min-width: 600px) {

    main.info-tabla-menu  div.table > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin:0.5rem;
        padding:0rem;
        border-radius: 4px;
    }

    main.info-tabla-menu  div.table > div:first-child  {
        text-transform: uppercase;
        color:#f0f0f0;
        background:#202020;
    }

    main.info-tabla-menu  div.table > div > div {
        width:33%;
        text-align: center;
        margin:0rem;
        padding:1rem;
    }

    main.info-tabla-menu  div.table > div > div > p {
        margin:0rem;
        padding:0rem;
    }

    main.info-tabla-menu  div.table > div > div > p:first-child {
        display:none;
    }

}

